<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- 스프링 프레임워크가 관리할 클래스 정보 설정 -->
	<!-- bean 엘리먼트 : 객체(bean) 정보 지정용 엘리먼트 -->
	<!-- class 속성 : 객체(bean)의 클래스 정보. 패키지명 포함. -->
	<!-- id or name 속성 : 식별자 지정. 유니크한 이름 지정 -->

	<!-- Spring - Beans Auto-Wiring -->
	<!-- autowire="" 속성 지정 필요 -->
	<!-- 스프링 프레임워크가 관리할 클래스 정보 설정 -->
	<!-- 주의) id="식별자" 지정시 byName 방식 autowiring 이 가능하도록 설정.
	setter 이름과 동일한 식별자 사용. -->
	<bean id="helloWorldA" class="com.test022.HelloWorldA" autowire="byName">
		<!-- property 엘리먼트는 setter 방식 의존주입 지정시  -->
		<!-- <property name="hello" ref="helloWorldB" /> -->
	</bean>

	<bean id="hello" class="com.test022.HelloWorldB">
		<!-- 메시지에 대한 의존 주입 설정 추가 -->
		<property name="message" value="Hello World!" />
	</bean>

</beans>	